.navbar {
	list-style-type: none;
	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333333;
	text-align:center;
	position: fixed;
	top: 0;
	left:0;
	right:0;
	width: 100%
}

.navbar a {
  	display: inline-block;
    	color: white;
    	text-align: center;
    	padding: 1.5%;
    	text-decoration: none;
	font-size: 1.2em;
}
	
.navbar .active {
	color: #FF8C00;
}

.navbar a:hover {
  	background-color: #111;
	color: #FFFACD;
}

.main {
	margin-top: 4%;
	margin-bottom: 0px;
	bottom:0;
}
		
.welcome {
	margin:0;
	padding:0;
	left:0;
	right:0;
	top:0;
	background-color: #ED796A;
}
	
.storeinfo {
	color: #FFFFFF;
	background-color: #333333;
	width: 100%;
	margin: 0;
	padding: 0;
	left:0;
	right:0;
}

table {
	font-size=2em;
	font-family=helvetica;
}

th {
	text-align: left;
	font-size= 15em;
}
		
table#t01 td:nth-child(odd) {
	text-align: right;
	}

iframe#iframe1 {
	width: 50vw;
	height: 60vh;
}

iframe#iframe2 {
	display: none;
}

.wbutton, .gbutton, .lbutton {
  	background-color: #FF8C00;
    	border-radius: 8px;
    	padding: 0.5%;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 1em;
}
		
.wbutton:hover, .gbutton:hover, .lbutton:hover {
    	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    	background-color: #4CAF50;
}

.wmodal, .gmodal, .lmodal {
    	display: none; /* Hidden by default */
    	position: fixed; /* Stay in place */
    	z-index: 1; /* Sit on top */
    	padding-top: 100px; /* Location of the box */
    	left: 0;
    	top: 0;
    	width: 100%; /* Full width */
    	height: 100%; /* Full height */
    	overflow: auto; /* Enable scroll if needed */
    	background-color: rgb(0,0,0); /* Fallback color */
    	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.wmodal-content, .gmodal-content, .lmodal-content {
    	background-color: #ffffff;
    	margin: auto;
    	padding: 5px;
   	border: 5px solid #000000;
    	width: 80%;
}

.wclose, .gclose, .lclose {
    	color: #aaaaaa;
    	float: right;
    	font-size: 200%;
    	font-weight: bold;
}

.wclose:hover, .wclose:focus, .gclose:hover, .gclose:focus, .lclose:hover, .lclose:focus {
    	color: #000;
    	text-decoration: none;
    	cursor: pointer;
}


@media screen and (max-width: 17cm) { 
	.navbar {
		list-style-type: none;
		margin: 0;
    		padding: 0;
    		overflow: hidden;
    		background-color: #333;
		text-align:center;
		position: fixed;
		top: 0;
		left:0;
		right:0;
		width: 100%
	}

	.navbar a {
  		display: inline-block;
    		color: white;
    		text-align: center;
    		padding: 1%;
    		text-decoration: none;
		font-size: 2%;
	}
	
	.navbar .active {
		color: #FF8C00;
	}

	.navbar a:hover {
  		background-color: #111;
		color: #FFFACD;
	}
	
	iframe#iframe1 {
		display: none;
		width: 0px;
	}
	
	iframe#iframe2 {
		display:block;
		width: 90vw;
		height: 80vh;
	}
	
}
